@import '_deps.scss';

//===============================================
//                             Tamanhos de Fontes
//===============================================

.title {
    font-size: 56px;
}

.text-bigger {
    font-size: 20px;
}

.text-big {
    font-size: 18px;
}

.text-medium {
    font-size: 16px;
}

.text-small {
    font-size: 14px;
}

.text-smaller {
    font-size: 12px;
}

//===============================================
//                             Tamanhos de ícone
//===============================================

.icon-smaller:before {
    font-size: 16px;
    height: 16px;
    width: 16px;
    padding: 3px;
}

.icon-small:before {
    font-size: 26px;
    height: 26px;
    width: 26px;
    padding: 3px;
}

.icon-medium:before {
    font-size: 36px;
    height: 36px;
    width: 36px;
    padding: 3px;
}

.icon-big:before {
    font-size: 48px;
    height: 48px;
    width: 48px;
    padding: 3px;
}

.icon-bigger:before {
    font-size: 58px;
    height: 58px;
    width: 58px;
    padding: 3px;
}

//===============================================
//                                         Button
//===============================================
